@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */

.searchBar:focus {
  outline: none;
  /*border-bottom:2px solid #54008c !important;*/
  /*border-bottom-width: 900px !important;*/
}

.day{
  background-color: red;
  height: 11.5px;
  display: flex;
  border: dotted 0px black;
  margin-bottom: 1px;
}
.searchBarDiv{

  width: min(900px,87vw)
  /*maxWidth: "900px",*/
  /*width: "800px",*/
  /*minWidth: "10vmin",*/
}
.boxBorderStyle :hover {
  outline: none;
  border-bottom:2px solid #54008c !important;
  /*border-bottom-width: 900px !important;*/
}

.btnX{
  margin-top: 35px;
  padding: 0px;
  background-color: white;
  border: none;
  font-size: 20px;
}
.btnX:hover {
  color: #54008c !important;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.ct{
  margin-top: 0.5px;
  font-size: 12px;
  margin-bottom: -7px;

}

.calendar-course-text{
  color:white;
  gap: 0px;

  display: block;
  height: 80px;
}
.pageBody{
  padding:30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: purple;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
